.user-card-wrapper {
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}



.user-card-wrapper-container__btn {
	display: flex;
	justify-content: center;
}