.form {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 15px;
	margin: 0 auto;
	/* margin-top: 100px; */
	border-radius: 15px;
	max-width: 500px;
	width: 100%;
}

.form__item_actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
}

.form__item_actions a {
	font-size: 20px;
}

.form-container-center {
	padding-top: 100px;
}