<div class="section-about bg-color-main">
	<div class="container">
		<div>Приложение "Мои митапы" позволяет пользователю :</div>
		<div class="section-about__paragraphs">
			<p>- подписаться на определенный митап, который он хочет посетить ;</p>
			<p>- создать новый митап ;</p>
			<p>Вообще, митап - эта такая карточка где хранятся данные о предстоящем событии: его описание, дата, что на нем будет и т.д. Для того чтобы попасть на митап, тебе нужно пройти регистрацию пользователя . Регистрация доступна по ссылке ниже</p>
			<a class="link"  [routerLink]="['/registration']" routerLinkActive="current-link">
				How to create account ?
			</a> 
		</div>
		<div class="section-about__main-picture">
			<img width=”500px” height="400px" src="../../../assets/img/meetups-picture.jpeg" alt="meetup">
		</div>
	</div>
</div>