<div class="section section_cards bg-color-main">

	<div class="container">

		<div class="section-cards__inputs">
			<div class="text-field">
				<label class="text-field__label" for="ownerFio">Фильтр по автору:</label>
				<input id="ownerFio" type="text" [formControl]="ownerFioFilter" placeholder="OwnerFio" (input)="applyFilters()">
			</div>


			<div class="text-field">
				<label class="text-field__label" for="meetupName">Фильтр по митапу:</label>
				<input id="meetupName" type="text" [formControl]="meetupNameFilter" placeholder="MeetupName" (input)="applyFilters()">
			</div>

			
		</div>

		<ng-container *ngIf="allMeetups$ | async as allMeetups">
			<div class="cards-wrapper">
				<ng-container *ngFor="let meetup of allMeetups">

						<card-meetup [meetup]="meetup"></card-meetup>

				</ng-container>
			</div>
		</ng-container>

	</div>
	
</div>