<form [tuiTextfieldCleaner]="true" (submit)="saveMeetup()" [formGroup]="myForm"
	class="bg-color-main container edit-meetup">
	<h3 class="edit-meetup-item-title tui-text_h1">Редактирование митапа</h3>

	<div class="edit-meetup-item">
		<span class="edit-meetup-item__info">Название:</span>
		<div class="b-form">

			<prizm-input-layout>
				<input prizmInput class="edit-meetup-item-input" type="text" [formControl]="myForm.controls.name" />
			</prizm-input-layout>

		</div> <!--.b-form-->
	</div> <!--.edit-meetup-item-->

	<div class="edit-meetup-item">
		<span class="edit-meetup-item__info">Дата:</span>
		<div class="b-form">
			<prizm-input-layout label="Выберите дату">
				<prizm-input-layout-date [formControl]="myForm.controls.date"></prizm-input-layout-date>
			</prizm-input-layout>
			<tui-error [formControl]="myForm.controls.date" [error]="[] | tuiFieldError | async"></tui-error>
		</div> <!--.b-form-->
	</div> <!--.edit-meetup-item-->

	<div class="edit-meetup-item">
		<span class="edit-meetup-item__info">Время:</span>
		<div class="b-form">

			<prizm-input-layout label="Выберите время">
				<prizm-input-layout-time [formControl]="myForm.controls.time"></prizm-input-layout-time>
			</prizm-input-layout>

		</div> <!--.b-form-->
	</div> <!--.edit-meetup-item-->



	<div class="edit-meetup-item">
		<span class="edit-meetup-item__info">Продолжительность(мин):</span>
		<div class="b-form">

			<prizm-input-layout>
				<input prizmInput class="edit-meetup-item-input" type="text" [formControl]="myForm.controls.duration" />
			</prizm-input-layout>

		</div> <!--.b-form-->
	</div> <!--.edit-meetup-item-->

	<div class="edit-meetup-item">
		<span class="edit-meetup-item__info">Место:</span>
		<div class="b-form">

			<prizm-input-layout>
				<input prizmInput class="edit-meetup-item-input" type="text" [formControl]="myForm.controls.location" />
			</prizm-input-layout>
		</div> <!--.b-form-->
	</div> <!--.edit-meetup-item-->

	<div class="edit-meetup-item">
		<span class="edit-meetup-item__info">Короткое описание:</span>
		<div class="b-form">
				<textarea [height]="100" [formControl]="myForm.controls.shortDescription" prizmInput></textarea>
		</div>
	</div> <!--.edit-meetup-item-->

	<div class="edit-meetup-item">
		<span class="edit-meetup-item__info">Подробное описание:</span>
		<div class="b-form">
			<textarea [height]="100" [formControl]="myForm.controls.detailedDescription" prizmInput></textarea>
		</div> <!--.b-form-->
	</div> <!--.edit-meetup-item-->

	<div class="edit-meetup-item">
		<span class="edit-meetup-item__info">Целевая аудитория:</span>
		<div class="b-form">
			<textarea [height]="100" [formControl]="myForm.controls.targetAudience" prizmInput></textarea>
		</div> <!--.b-form-->
	</div> <!--.edit-meetup-item-->

	<div class="edit-meetup-item">
		<span class="edit-meetup-item__info">Что надо знать:</span>
		<div class="b-form">
			<textarea [height]="100" [formControl]="myForm.controls.whatNeedToKnow" prizmInput></textarea>
		</div> <!--.b-form-->
	</div> <!--.edit-meetup-item-->

	<div class="edit-meetup-item">
		<span class="edit-meetup-item__info">Что будет:</span>
		<div class="b-form">
			<textarea [height]="100" [formControl]="myForm.controls.whatWillHappen" prizmInput></textarea>
		</div> <!--.b-form-->
	</div> <!--.edit-meetup-item-->

	<div class="edit-meetup-item">
		<span class="edit-meetup-item__info">Почему надо обязательно прийти:</span>
		<div class="b-form">
			<textarea [height]="100" [formControl]="myForm.controls.haveToCome" prizmInput></textarea>

		</div> <!--.b-form-->
	</div> <!--.edit-meetup-item-->


	<button [disabled]="disabledForm" class="btn_border btn_top-7 btn_bottom-7" prizmButton appearance="primary" size="xl">Сохранить</button>

</form> <!--.edit-meetup-->

<!-- <div>{{ meetup | json }}</div> -->