/* You can add global styles to this file, and also import other style files */



*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
	border: none;
}

root, tui-root {
	display: block;
	height: 100%;
}

.page {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}


.section {
	padding: 40px;
	height: 100%;

}

.page__item_fluid {
	flex: 1;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0px 1fr;
}

.container {
	width: 100%;
	max-width: 1094px;
	margin: 0 auto;
	padding: 0 16px;
	display: block;
}

.container_fluid {
	max-width: none;
	padding: 0 40px;

}

/* Taiga UI */
.tui-btn_icon .t-left {
	margin-right: 0 !important;
}

.tui-btn_title .t-left {
	display: none !important;
}

.tui-btn_red [tuiWrapper] {
	background-color: #c82333 !important;
}

.tui-btn_red [tuiWrapper]:hover:not(._no-hover) {
	background-color: rgb(255, 141, 141) !important;
}

/* Taiga UI */

.bg-color-main {
	background-color: #f2f2f2;
}

.error {
	color: var(--tui-negative, red);
	margin-top: 0.25rem;
	white-space: pre-line;
}

.form-container {
	height: 100vh;
	width: 100vw;
}

.bg-color-model {
	background-color: rgb(81, 80, 80);

}

