/* delete-user-item */

.delete-user-item-title {
	font-family: "Cherry Bomb One", system-ui;
	font-weight: 400;
	font-size: 24px;
	color: rgb(140, 0, 0);
	margin-bottom: 15px;
}

.delete-user {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.delete-user__actions-wrapper {
	display: flex;
	justify-content: space-between;
	gap: 15px;
}


