.section {
	height: 100vh

}

.cards-wrapper {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.card-meetup__btn-create {
	display: flex;
	justify-content: center;
}

.cards-wrapper {
	display: flex;
	flex-direction: column;
	gap: 30px;
}



.section-cards {
	padding-top: 30px;
}

.section-cards__inputs {
	display: flex;
	justify-content: center;
	gap: 30px;
	 margin-bottom: 40px; 
}

.text-field {
	display: flex;
	gap: 10px;
	align-items: center;


}

.text-field input {
	width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

	
}



.text-field input::placeholder {
  color: #212529;
  opacity: 0.4;
}

.text-field input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}  