<form [formGroup]="myForm" class="container edit-meetup">
	<h3 class="edit-meetup-item-title">Создание митапа</h3>

	<div class="edit-meetup-item">
		<span class="edit-meetup-item__info">Название:</span>
		<div class="b-form">
			<tui-input formControlName="title">
				<input class="edit-meetup-item-input" tuiTextfield type="text" />
			</tui-input>
		</div> <!--.b-form-->
	</div> <!--.edit-meetup-item-->

	<div class="edit-meetup-item">
		<span class="edit-meetup-item__info">Дата:</span>
		<div class="b-form" tuiTextfieldCleaner="true">
			<tui-input-date formControlName="date" tuiUnfinishedValidator="Finish filling the field">
				Выберите дату
			</tui-input-date>
			<tui-error formControlName="date" [error]="[] | tuiFieldError | async"></tui-error>
		</div> <!--.b-form-->
	</div> <!--.edit-meetup-item-->

	<div class="edit-meetup-item">
		<span class="edit-meetup-item__info">Время:</span>
		<div class="b-form">
			<tui-input-time formControlName="time" [items]="items1" class="clock-form">
				Выберите время
			</tui-input-time>
		</div> <!--.b-form-->
	</div> <!--.edit-meetup-item-->

	<div class="edit-meetup-item">
		<span class="edit-meetup-item__info">Место:</span>
		<div class="b-form">
			<tui-input formControlName="location">
				<input class="edit-meetup-item-input" tuiTextfield type="text" />
			</tui-input>
		</div> <!--.b-form-->
	</div> <!--.edit-meetup-item-->

	<div class="edit-meetup-item">
		<span class="edit-meetup-item__info">Короткое описание:</span>
		<div class="b-form">
			<textarea formControlName="short_description" rows="5" cols="90">
			</textarea>
		</div> <!--.b-form-->
	</div> <!--.edit-meetup-item-->

	<div class="edit-meetup-item">
		<span class="edit-meetup-item__info">Подробное описание:</span>
		<div class="b-form">
			<textarea formControlName="detailed_description" rows="10" cols="90">
			</textarea>
		</div> <!--.b-form-->
	</div> <!--.edit-meetup-item-->

	<div class="edit-meetup-item">
		<span class="edit-meetup-item__info">Целевая аудитория:</span>
		<div class="b-form">
			<textarea formControlName="target_audience" rows="5" cols="90">
			</textarea>
		</div> <!--.b-form-->
	</div> <!--.edit-meetup-item-->

	<div class="edit-meetup-item">
		<span class="edit-meetup-item__info">Что надо знать:</span>
		<div class="b-form">
			<textarea formControlName="what_need_to_know" rows="5" cols="90">
			</textarea>
		</div> <!--.b-form-->
	</div> <!--.edit-meetup-item-->

	<div class="edit-meetup-item">
		<span class="edit-meetup-item__info">Что будет:</span>
		<div class="b-form">
			<textarea formControlName="what_will_happen" rows="5" cols="90">
			</textarea>
		</div> <!--.b-form-->
	</div> <!--.edit-meetup-item-->

	<div class="edit-meetup-item">
		<span class="edit-meetup-item__info">Почему надо обязательно прийти:</span>
		<div class="b-form">
			<textarea formControlName="why_do_i_have_to_come" rows="5" cols="90">
			</textarea>
		</div> <!--.b-form-->
	</div> <!--.edit-meetup-item-->

</form> <!--.edit-meetup-->