<div class="section section_cards bg-color-main">

	<div class="container">

		<div class="section-cards__inputs">
			<div class="text-field">
				<label class="text-field__label tui-text_body-m" for="login">Фильтр по автору:</label>
				<input (input)="onInputOwnerFioChange($event)" type="text" placeholder="OwnerFio">
			</div>
			<div class="text-field">
				<label class="text-field__label tui-text_body-m" for="login">Фильтр по митапу:</label>
				<input (input)="onInputMeetupNameChange($event)" type="text" placeholder="MeetupName">
			</div>
			
			
		</div>

		<ng-container *ngIf="myMeetups$ | async as myMeetups">
			<div class="cards-wrapper">
				<ng-container *ngFor="let myMeetup of myMeetups">
						<card-meetup [meetup]="myMeetup" [isMyMeetup]="true"></card-meetup>
				</ng-container>
				
			</div>
		</ng-container>

		<div class="card-meetup__btn-create">
			<!-- <button (click)="openCreatePopup()" class="tui-btn tui-space_top-5" tuiButton size="m" appearance="secondary">
				Создать митап
			</button> -->

			<button class="btn_top-7 btn_border" (click)="openCreatePopup()" prizmButton appearance="secondary" size="l">Создать митап</button>
		</div> <!-- .card-meetup__btn-create -->

	</div>


</div>