<div class="section section_cards bg-color-main">

	<div class="container">

		<ng-container *ngIf="myMeetups$ | async as myMeetups">
			<div class="cards-wrapper">
				<ng-container *ngFor="let myMeetup of myMeetups">
					<!-- <ng-container *ngIf="myMeetup.owner.email === "> -->
						<card-meetup-my [meetup]="myMeetup"></card-meetup-my>
					<!-- </ng-container> -->
				</ng-container>
				
			</div>
		</ng-container>

		<div class="card-meetup__btn-create">
			<button (click)="openCreatePopup()" class="tui-btn tui-space_top-5" tuiButton size="m" appearance="secondary">
				Создать митап
			</button>
		</div> <!-- .card-meetup__btn-create -->

	</div>


</div>