<div class="section section_cards bg-color-main">

	<div class="container">

		<div class="section-cards__inputs">
			<div class="text-field">
				<label class="text-field__label tui-text_body-m" for="ownerFio">Фильтр по автору:</label>
				<input id="ownerFio" type="text" [formControl]="ownerFioFilter" placeholder="OwnerFio" (input)="applyFilters()">
			</div>
			
			<div class="text-field">
				<label class="text-field__label tui-text_body-m" for="meetupName">Фильтр по митапу:</label>
				<input id="meetupName" type="text" [formControl]="meetupNameFilter" placeholder="MeetupName" (input)="applyFilters()">
			</div>
			
			
		</div>

		<ng-container *ngIf="myMeetups$ | async as myMeetups">
			<div class="cards-wrapper">
				<ng-container *ngFor="let myMeetup of myMeetups">
						<card-meetup [meetup]="myMeetup" [isMyMeetup]="true"></card-meetup>
				</ng-container>
				
			</div>
		</ng-container>

		<div class="card-meetup__btn-create">
			<button class="btn_top-7 btn_border" (click)="openCreatePopup()" prizmButton appearance="secondary" size="l">Создать митап</button>
		</div> <!-- .card-meetup__btn-create -->

	</div>


</div>