
<div class="card-meetup ">

	<prizm-dropdown-host [(isOpen)]="open" [content]="dropdown" prizmDropdownHostWidth="100%">
		<div class="card-meetup__header bg-color-main">
			<div class="card-meetup__header-info">
				<div class="card-meetup__header-info-item">
					<span class="card-meetup__header-info-title card-meetup__header-item_color tui-text_h6">{{meetup.name}}</span>
					<span class="card-meetup__header-info-followers">{{meetup.users.length}} подписчик</span>
				</div>
				<div class="card-meetup__header-info-item">
					<p class="card-meetup__header-info-paragraph">{{meetup.description}}</p>
				</div>
				<div class="card-meetup__header-info-item flex-gap">
					<button size="xs" tuiButton class="tui-btn tui-btn_icon" [icon]="userIcon" appearance="flat">
					</button>
					<span class="card-meetup__header-info-author">{{meetup.owner.fio}}</span>
				</div>
			</div>

			<div class="card-meetup__header-actions">
				<div class="card-meetup__header-actions-item flex-gap">
					<ng-container *ngIf="isMyMeetup === false">
						<ng-container *ngIf="meetup.registeredForMeetup === false">


							<button (click)="registerUserForMeetup(meetup.authUser, meetup)" class="btn_radius" type="button"  prizmButton appearance="success" size="xm">Я пойду</button>

						</ng-container>
						<ng-container *ngIf="meetup.registeredForMeetup === true">

							<button (click)="removeUserFromMeetup(meetup.authUser, meetup)" class="btn_radius" type="button"  prizmButton appearance="success" size="xm">Не смогу пойти</button>
						</ng-container>

					</ng-container>
					<ng-container *ngIf="isMyMeetup === true">

						<button class="btn_radius" type="button" (click)="openEditPopup(meetup)" prizmButton appearance="warning" size="xm">Редактировать</button>

						<button class="btn_radius" icon="delete"  type="button" (click)="openDeletePopup(meetup)" prizmButton appearance="danger" size="xm"></button>

						<ng-template #footerTemp let-completeWith="completeWith">
							<div class="bg-color-model container delete-meetup">
	
								<div class="delete-meetup__actions-wrapper">
							
									<button 
									(click)="completeWith(false)"
										appearance="secondary-destructive" 
										tuiButton 
										size="m" 
										type="submit" 
										class="tui-space_top-3 tui-space_bottom-3"
									>
											Отменить
									</button>
							
									<button 
										(click)="completeWith(true)"
										appearance="secondary-destructive" 
										tuiButton 
										size="m" 
										type="submit" 
										class="tui-space_top-3 tui-space_bottom-3"
									>
											Удалить
									</button>
								</div>
							
							</div>
						</ng-template>

					</ng-container>
				
					<prizm-split-button class="prizma-toggle" [icon]="getChevron()" (clickIcon)="clickToggleExpanded()"
						appearance="primary" size="m">
					</prizm-split-button>
				</div>
				<div class="card-meetup__header-actions-item">
					<div class="card-meetup__header-actions-date card-meetup__header-item_color">{{meetup.time | cardDate }}
					</div>
				</div>
				<div class="card-meetup__header-actions-item">
					<div class="card-meetup__header-actions-location">{{meetup.location}}</div>
				</div>

			</div>

		</div>

	</prizm-dropdown-host>


	<ng-template #dropdown>
		<prizm-data-list>

			<div class="card-meetup__content bg-color-main">
				<div class="card-meetup__content-info">
					<div class="card-meetup__content-info-item">
						<span
							class="card-meetup__content-info-title card-meetup__content-item_color tui-text_body-xl">{{meetup.name}}</span>
						<span class="card-meetup__content-info-followers">{{meetup.users.length}} подписчик</span>
					</div>
					<div class="card-meetup__content-info-item">
						<p class="card-meetup__content-info-paragraph">{{meetup.description}}</p>
					</div>

					<div class="card-meetup__content-info-item">
						<div class="card-meetup__content-info-list">Целевая аудитория
							<div class="card-meetup__content-info-list-answers">{{meetup.target_audience}}</div>
						</div>
					</div>

					<div class="card-meetup__content-info-item">
						<div class="card-meetup__content-info-list">Что надо знать?
							<div class="card-meetup__content-info-list-answers">{{meetup.need_to_know}}</div>

						</div>
					</div>

					<div class="card-meetup__content-info-item">
						<div class="card-meetup__content-info-list">Что будет?
							<div class="card-meetup__content-info-list-answers">{{meetup.will_happen}}</div>

						</div>
					</div>

					<div class="card-meetup__content-info-item">
						<div class="card-meetup__content-info-list">Почему надо обязательно прийти?
							<div class="card-meetup__content-info-list-answers">{{meetup.reason_to_come}}</div>
						</div>
					</div>

					<div class="card-meetup__content-info-item card-meetup__content-actions-item_gap">
						<button size="xs" tuiButton class="tui-btn tui-btn_icon" [icon]="userIcon" appearance="flat">
						</button>
						<span class="card-meetup__content-info-author">{{meetup.owner.fio}}</span>
					</div>

				</div>
			</div>
			
			
		</prizm-data-list>
	</ng-template>

</div>