<div class="form-container form-container-center  bg-color-main">
	<form (submit)="handleSubmit()" [formGroup]="myForm" class="form">
		<div class="form__item">

			<prizm-input-layout label="Email">
				<input prizmInput [formControl]="myForm.controls.email" />
			</prizm-input-layout>

			<div class="error" *ngIf="myForm.controls.email.hasError('email')">
				Невалидный email
			</div>
			<div class="error" *ngIf="myForm.controls.email.hasError('required') && myForm.controls.email.touched">
				Поле обязательно для заполнения
			</div>


		</div>

		<div class="form__item">

			<prizm-input-layout label="Password">
				<input [formControl]="myForm.controls.password" #inputPassword="prizmInputPassword" prizmInputPassword />
				<prizm-input-password-auxiliary-control [inputPassword]="inputPassword"
					prizm-input-right></prizm-input-password-auxiliary-control>
			</prizm-input-layout>


			<div class="error" *ngIf="myForm.controls.password.hasError('required') && myForm.controls.password.touched">
				Поле обязательно для заполнения
			</div>
			</div>

		<div class="form__item">

			<prizm-input-layout label="Фамилия">
				<input prizmInput [formControl]="myForm.controls.surname" />
			</prizm-input-layout>

			<div class="error" *ngIf="myForm.controls.surname.hasError('required') && myForm.controls.surname.touched">
				Поле обязательно для заполнения
			</div>
		</div>

		<div class="form__item">

			<prizm-input-layout label="Имя">
				<input prizmInput [formControl]="myForm.controls.name" />
			</prizm-input-layout>

			<div class="error" *ngIf="myForm.controls.name.hasError('required') && myForm.controls.name.touched">
				Поле обязательно для заполнения
			</div>
		</div>


		<div class="form__item form__item_actions">
			<a [routerLink]="['/login']" routerLinkActive="current-link" icon="tuiIconSettings" tuiLink [pseudo]="true"
				mode="positive">
				How to log in to account ?
			</a>

			<button class="btn_border" type="submit" [disabled]="!myForm.valid" prizmButton appearance="primary" size="xl">SIGN UP</button>

		</div>
	</form>
</div>