<div class="card-meetup ">
	
	<div class="card-meetup__header bg-color-main">
		<div class="card-meetup__header-info">
			<div class="card-meetup__header-info-item">
				<span class="card-meetup__header-info-title card-meetup__header-item_color">{{meetup.name}}</span>
				<span class="card-meetup__header-info-followers">{{meetup.users.length}} подписчик</span>
			</div> <!-- .card-meetup__header-info-item-->
			<div class="card-meetup__header-info-item">
				<p class="card-meetup__header-info-paragraph">{{meetup.description}}</p>
			</div> <!-- .card-meetup__header-info-item-->
			<div class="card-meetup__header-info-item card-meetup__header-actions-item_gap">
				<button size="xs" tuiButton class="tui-btn tui-btn_icon" [icon]="user" appearance="flat">
				</button>
				<span class="card-meetup__header-info-author">{{meetup.owner.fio}}</span>
			</div> <!-- .card-meetup__header-info-item-->
		</div> <!-- .card-meetup__header-info -->

		<div class="card-meetup__header-actions">
			<div class="card-meetup__header-actions-item">
				<div class="card-meetup__header-actions-date card-meetup__header-item_color">{{meetup.createdAt | cardDate }}</div>
			</div> <!-- .card-meetup__header-actions-item -->
			<div class="card-meetup__header-actions-item">
				<div class="card-meetup__header-actions-location">{{meetup.location}}</div>
			</div>
			<div class="card-meetup__header-actions-item card-meetup__header-actions-item_gap">
				<ng-container *ngIf="isMyMeetupComponent === false">
					<ng-container *ngIf="meetup.registeredForMeetup === false">
						<button class="tui-btn" tuiButton type="button" appearance="accent" shape="rounded" size="s"
							(click)="registerUserForMeetup(meetup.authUser, meetup)">
							Я пойду
						</button>
					</ng-container>
					<ng-container *ngIf="meetup.registeredForMeetup === true">
						<button class="tui-btn" tuiButton type="button" appearance="accent" shape="rounded" size="s"
							(click)="removeUserFromMeetup(meetup.authUser, meetup)">
							Не смогу пойти
						</button>
					</ng-container>

				</ng-container>
				<ng-container *ngIf="isMyMeetupComponent === true">
					<button class="tui-btn" tuiButton type="button" appearance="accent" shape="rounded" size="s"
						>
						Редактировать
					</button>
				</ng-container>
				<button class="tui-btn tui-btn_icon" tuiButton type="button" [icon]="getChevron()" size="s"
					(click)="clickToggleExpanded()">
				</button>
			</div>
		</div> <!-- .card-meetup__header-actions -->

	</div> <!-- .card-meetup__header -->
	<tui-expand [expanded]="expanded">
		<ng-template tuiExpandContent>
			<div class="card-meetup__content bg-color-main">
				<div class="card-meetup__content-info">
					<div class="card-meetup__content-info-item">
						<span class="card-meetup__content-info-title card-meetup__content-item_color">Ангуляр против реакта</span>
						<span class="card-meetup__content-info-followers">321 подписчик</span>
					</div> <!-- .card-meetup__header-info-item-->
					<div class="card-meetup__content-info-item">
						<p class="card-meetup__content-info-paragraph">А здесь я ещё более подробно напишу об том, отб этом. О том,
							об этом. О том, об этом. О том, об этом. О том, об этом. О том, об этом. О том, об этом. О том, об этом. А
							здесь я ещё более подробно напишу об том, отб этом. О том, об этом. О том, об этом. О том, об этом. О том,
							об этом. О том, об этом. О том, об этом. О том, об этом. А здесь я ещё более подробно напишу об том, отб
							этом. О том, об этом. О том, об этом. О том, об этом. О том, об этом. О том, об этом. О том, об этом. О
							том, об этом. </p>
					</div> <!-- .card-meetup__content-info-item-->

					<div class="card-meetup__content-info-item">
						<div class="card-meetup__content-info-list">Целевая аудитория
							<div class="card-meetup__content-info-list-answers">разрабы, аналитики, и проч</div>
						</div>
					</div> <!-- .card-meetup__content-info-item-->

					<div class="card-meetup__content-info-item">
						<div class="card-meetup__content-info-list">Что надо знать?
							<div class="card-meetup__content-info-list-answers">Вот это</div>
							<div class="card-meetup__content-info-list-answers">Вот это</div>
							<div class="card-meetup__content-info-list-answers">Вот это</div>
							<div class="card-meetup__content-info-list-answers">Вот это</div>
						</div>
					</div> <!-- .card-meetup__content-info-item-->

					<div class="card-meetup__content-info-item">
						<div class="card-meetup__content-info-list">Что будет?
							<div class="card-meetup__content-info-list-answers">вот этому научу</div>
							<div class="card-meetup__content-info-list-answers">вот это расскажу</div>
							<div class="card-meetup__content-info-list-answers">вот этому научу</div>
							<div class="card-meetup__content-info-list-answers">вот это расскажу</div>
						</div>
					</div> <!-- .card-meetup__content-info-item-->

					<div class="card-meetup__content-info-item">
						<div class="card-meetup__content-info-list">Почему надо обязательно прийти?
							<div class="card-meetup__content-info-list-answers">У меня красный пояс по C++</div>
						</div>
					</div> <!-- .card-meetup__content-info-item-->

					<div class="card-meetup__content-info-item card-meetup__content-actions-item_gap">
						<button size="xs" tuiButton class="tui-btn tui-btn_icon" [icon]="user" appearance="flat">
						</button>
						<span class="card-meetup__content-info-author">Александр Козаченко</span>
					</div> <!-- .card-meetup__content-info-item-->

				</div> <!--card-meetup__content-info-->
			</div>
		</ng-template>
	</tui-expand>

</div> <!-- .card-meetup -->