<div class="card-meetup ">

	<div class="card-meetup__header bg-color-main">
		<div class="card-meetup__header-info">
			<div class="card-meetup__header-info-item">
				<span class="card-meetup__header-info-title card-meetup__header-item_color tui-text_h6">{{meetup.name}}</span>
				<span class="card-meetup__header-info-followers">{{meetup.users.length}} подписчик</span>
			</div> <!-- .card-meetup__header-info-item-->
			<div class="card-meetup__header-info-item">
				<p class="card-meetup__header-info-paragraph">{{meetup.description}}</p>
			</div> <!-- .card-meetup__header-info-item-->
			<div class="card-meetup__header-info-item flex-gap">
				<button size="xs" tuiButton class="tui-btn tui-btn_icon" [icon]="user" appearance="flat">
				</button>
				<span class="card-meetup__header-info-author">{{meetup.owner.fio}}</span>
			</div> <!-- .card-meetup__header-info-item-->
		</div> <!-- .card-meetup__header-info -->

		<div class="card-meetup__header-actions">
			<div class="card-meetup__header-actions-item flex-gap">
				<ng-container *ngIf="isMyMeetupComponent === false">
					<ng-container *ngIf="meetup.registeredForMeetup === false">
						<button class="tui-btn" tuiButton type="button" appearance="accent" shape="rounded" size="s"
							(click)="registerUserForMeetup(meetup.authUser, meetup)">
							Я пойду
						</button>
					</ng-container>
					<ng-container *ngIf="meetup.registeredForMeetup === true">
						<button class="tui-btn" tuiButton type="button" appearance="accent" shape="rounded" size="s"
							(click)="removeUserFromMeetup(meetup.authUser, meetup)">
							Не смогу пойти
						</button>
					</ng-container>

				</ng-container>
				<ng-container *ngIf="isMyMeetupComponent === true">
					<button (click)="openEditPopup(meetup)" class="tui-btn" tuiButton type="button" appearance="accent" shape="rounded"
						size="s">
						Редактировать
					</button>

					<button icon="tuiIconTrash2" (click)="openDeletePopup(meetup)" class="tui-btn tui-btn_red tui-btn_icon" tuiButton type="button" appearance="accent" shape="rounded"
						size="s">
					</button>

				</ng-container>
				<button class="tui-btn tui-btn_icon" tuiButton type="button" [icon]="getChevron()" size="s"
					(click)="clickToggleExpanded()">
				</button>
			</div>
			<div class="card-meetup__header-actions-item">
				<div class="card-meetup__header-actions-date card-meetup__header-item_color">{{meetup.time | cardDate }}
				</div>
			</div> <!-- .card-meetup__header-actions-item -->
			<div class="card-meetup__header-actions-item">
				<div class="card-meetup__header-actions-location">{{meetup.location}}</div>
			</div>
			
		</div> <!-- .card-meetup__header-actions -->

	</div> <!-- .card-meetup__header -->
	<tui-expand [expanded]="expanded">
		<ng-template tuiExpandContent>
			<div class="card-meetup__content bg-color-main">
				<div class="card-meetup__content-info">
					<div class="card-meetup__content-info-item">
						<span class="card-meetup__content-info-title card-meetup__content-item_color tui-text_body-xl">{{meetup.name}}</span>
						<span class="card-meetup__content-info-followers">{{meetup.users.length}} подписчик</span>
					</div> <!-- .card-meetup__header-info-item-->
					<div class="card-meetup__content-info-item">
						<p class="card-meetup__content-info-paragraph">{{meetup.description}}</p>
					</div> <!-- .card-meetup__content-info-item-->

					<div class="card-meetup__content-info-item">
						<div class="card-meetup__content-info-list">Целевая аудитория
							<div class="card-meetup__content-info-list-answers">{{meetup.target_audience}}</div>
							</div>
						</div> <!-- .card-meetup__content-info-item-->

						<div class="card-meetup__content-info-item">
							<div class="card-meetup__content-info-list">Что надо знать?
								<div class="card-meetup__content-info-list-answers">{{meetup.need_to_know}}</div>
								<!-- <div class="card-meetup__content-info-list-answers">Вот это</div>
							<div class="card-meetup__content-info-list-answers">Вот это</div>
							<div class="card-meetup__content-info-list-answers">Вот это</div> -->
							</div>
						</div> <!-- .card-meetup__content-info-item-->

						<div class="card-meetup__content-info-item">
							<div class="card-meetup__content-info-list">Что будет?
								<div class="card-meetup__content-info-list-answers">{{meetup.will_happen}}</div>
								<!-- <div class="card-meetup__content-info-list-answers">вот это расскажу</div>
								<div class="card-meetup__content-info-list-answers">вот этому научу</div>
								<div class="card-meetup__content-info-list-answers">вот это расскажу</div> -->
							</div>
						</div> <!-- .card-meetup__content-info-item-->

						<div class="card-meetup__content-info-item">
							<div class="card-meetup__content-info-list">Почему надо обязательно прийти?
								<div class="card-meetup__content-info-list-answers">{{meetup.reason_to_come}}</div>
							</div>
						</div> <!-- .card-meetup__content-info-item-->

						<div class="card-meetup__content-info-item card-meetup__content-actions-item_gap">
							<button size="xs" tuiButton class="tui-btn tui-btn_icon" [icon]="user" appearance="flat">
							</button>
							<span class="card-meetup__content-info-author">{{meetup.owner.fio}}</span>
						</div> <!-- .card-meetup__content-info-item-->

					</div> <!--card-meetup__content-info-->
				</div>
		</ng-template>
	</tui-expand>

</div> <!-- .card-meetup -->