<ng-container *ngIf="user">
	<form [formGroup]="myForm" class="user-card">
	
		<div class="user-card__item">
		
			<prizm-input-layout>
				<input class="edit-meetup-item-input" type="email"  prizmInput [formControl]="myForm.controls.email"/>
			</prizm-input-layout>

		</div>
	
		<div class="b-form user-card__item">
			
			

			<prizm-input-layout>
				<input class="edit-meetup-item-input" value="******" type="password"  prizmInput [formControl]="myForm.controls.password"/>
			</prizm-input-layout>

		</div>
	
		<div class="b-form user-card__item">
			<prizm-input-layout>
					<input class="edit-meetup-item-input" type="text" [value]="user.roles && user.roles.length > 0 ? user.roles[0].name : ''" prizmInput [formControl]="myForm.controls.role"/>
			</prizm-input-layout>
	</div>
	
		<div class="user-card__item">
			<div class="user-card__item-actions">
				<div (click)="popupEditUser()" class="user-card__item-actions-edit">
					<prizm-icons-svg [size]="30" [name]="'editor_decor_broom'"></prizm-icons-svg>
				</div>
				<div (click)="popupDeleteUser(user)" class="user-card__item-actions-delete">
					<prizm-icons-svg [size]="30" [name]="'settings_tools_delete_content'"></prizm-icons-svg>
				</div>

				<ng-template #footerTemp let-completeWith="completeWith">
					<div class="container delete-user">

						<div class="delete-user__actions-wrapper">

							<button appearance="warning" (click)="completeWith(false)" prizmButton size="l" type="submit"
								class="btn_border">
								Отменить
							</button>

							<button appearance="warning" (click)="completeWith(true)" prizmButton size="l" type="submit"
								class="btn_border">
								Удалить
							</button>
						</div>

					</div>
				</ng-template>
			</div>
		</div>
	
	</form>
</ng-container>