/* user-card */
.user-card {
	display: flex; 
	align-items: center;
	justify-content: center; 
	gap: 15px; 
	/* border: 2px solid rgba(88, 3, 3, 0.71); */
	/* border-radius: 10px; */
	width: 80%;
}

.edit-meetup-item-input {
	/* margin-top: 15px; */
	background-color: white;
	padding-left: 10px!important;
	padding-right: 10px!important;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	text-align: center;
	border-radius: 15px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	border: 1px solid #ccc;
}


.user-card__item {
	display: flex;
	/* border-right: 2px solid black; */
	/* justify-content: flex-start; */
	/* padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 80px;
	padding-right: 80px; */
	/* width: 100%; */
	/* flex: 1; */
	/* box-shadow: 3px 3px 7px 0px rgba(34, 60, 80, 0.2); */
	/* width: 400px; */
}

/* .user-card__item:last-child { 
	border-right: none;
 } */


.user-card__item-actions {
	display: flex;
	gap: 15px;
}

.user-card__item-actions-edit {
	color: green;
	cursor: pointer;
}

.user-card__item-actions-delete {
	color: red;
	cursor: pointer;
}